<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LearnLifeWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LearnLifeWin.Properties.Settings>
            <setting name="ReadFileBorder" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShowTutorial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewSizeWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="NewSizeHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="NewRule" serializeAs="String">
                <value/>
            </setting>
            <setting name="NewRandom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewRandomPercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value/>
            </setting>
        </LearnLifeWin.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
